<div class="side-nav d-none d-md-block">
  <div class="dots">

    <div class="line active">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#spot">
        <div class="circle active pulse"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section02" class="rbox1 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#spot">What is SPOT?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#escap">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section04" class="rbox3 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#escap">What is ESCAP doing on social protection?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#links">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section05" class="rbox4 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#links">Additional Links</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line end-tip"></div>
    </div>
  </div>
</div>
