<!-- @NOTE: Move to themes/custom/tbdthmeme/templates/layout/page.html.twig -->
<footer class="p-3 bg-nav-bg text-white 2">
  <div class="container">
    <div class="row">
      <div class="col px-0">
        <div class="widget d-flex flex-row align-items-center">
          <img class="me-9" style="height: 32px;" src="img/escap75-white.png" alt="ESCAP Logo" />
          <h6 class="m-0 text-light-blue-grey2 fw-lighter">Copyright © 2021 ESCAP - Social
            Development Division</h6>
        </div>
      </div>
    </div>
  </div>
</footer>