<div class="dot-nav d-none d-md-block">
  <div class="dots">
    <div class="line active">
      <div class="green-line start-tip"></div>
    </div>
    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section01">
        <div class="circle active pulse"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <div class="stooltip-content">
            <a class="scroll" href="#section01">Home</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section02">
        <div class="circle active pulse"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section02" class="rbox1 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section02">SPOT Tools</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section03">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section03" class="rbox2 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section03">Simulate</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section04">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section04" class="rbox3 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section04">Learn</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section05">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section05" class="rbox4 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section05">Build</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section06">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section06" class="rbox5 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section06">Social Protection Online Tool</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section07">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section07" class="rbox5 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section07">Why Social Protection?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section08">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section08" class="rbox5 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section08">Coverage and Expenditure Levels</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section09">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section09" class="rbox5 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section09">News & Events</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line"></div>
    </div>

    <div class="circle-wrapper">
      <a class="dot-link scroll" href="#section10">
        <div class="circle"></div>
      </a>
      <div class="stooltip">
        <div class="stooltip-box">
          <!-- <img src="img/icons/simulate.svg" alt="section10" class="rbox5 p-2" /> -->
          <div class="stooltip-content">
            <a class="scroll" href="#section10">About us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="green-line end-tip"></div>
    </div>
  </div>
</div>
