<!-- @NOTE: Move to themes/custom/tbdthmeme/templates/layout/page.html.twig -->
<footer class="d-none d-lg-block magnet-item section-item-nf p-3 bg-footer-bg text-white">
  <div class="container">
    <div class="row">
      <div class="col-2 px-0">
        <div class="widget">
          <img class="mb-4" style="height: 40px;" src="img/escap75-white.png" alt="ESCAP Logo" />
        </div>
      </div>
      <div class="col-2">
        <div class="widget">
          <ul class="list-unstyled mb-0 fw-light">
            <li><a href="/about-us">
                <h6 class="text-white fw-light">About us</h6>
              </a></li>
            <li><a href="/simulation-tool">
                <h6 class="text-white fw-light">Simulate</h6>
              </a></li>
            <li><a href="/e-learning">
                <h6 class="text-white fw-light">Learn</h6>
              </a></li>
            <li><a href="/explore">
                <h6 class="text-white fw-light">Build</h6>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="widget">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">
                <h6 class="text-white fw-light">FAQ</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="widget">
          <ul class="list-unstyled mb-0">
            <li><a href="/user/login">
                <h6 class="text-white fw-light">Login</h6>
              </a></li>
            <li><a href="#">
                <h6 class="text-white fw-light">Terms & Conditions</h6>
              </a></li>
            <li><a href="#">
                <h6 class="text-white fw-light">Privacy Policy</h6>
              </a></li>
            <li><a href="#">
                <h6 class="text-white fw-light">Contact us</h6>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="widget">
          <ul class="list-unstyled mb-0">
            <li">
              <h6 class="text-white fw-light fw-bold">External links</h6>
              </li>
              <li><a href="https://lnob.unescap.org/">
                  <h6 class="text-white fw-light">LNOB</h6>
                </a></li>
          </ul>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-8">
      <div class="col-md-9 offset-md-2">
        <h6 class="m-0 text-light-blue-grey2 fw-lighter">Copyright © 2021 ESCAP - Social Development Division</h6>
      </div>
    </div>
  </div>
</footer>
<footer
  class="d-flex flex-column d-lg-none magnet-item p-3 bg-footer-bg text-white justify-content-center align-items-center">
  <img class="mb-4" style="width: 135px;" src="img/escap75-white.png" alt="ESCAP Logo" />
  <ul class="list-unstyled mb-0 fw-light text-center">
    <li><a href="/simulation-tool">
        <h6 class="text-white fw-light">Simulate</h6>
      </a></li>
    <li><a href="/e-learning">
        <h6 class="text-white fw-light">Learn</h6>
      </a></li>
    <li><a href="/explore">
        <h6 class="text-white fw-light">Build</h6>
      </a></li>
    <li>
      <a href="#">
        <h6 class="text-white fw-light">Data dashboard</h6>
      </a>
    </li>
    <li>
      <a href="#">
        <h6 class="text-white fw-light">Advanced Search</h6>
      </a>
    </li>
    <li><a href="/about-us">
        <h6 class="text-white fw-light">About us</h6>
      </a></li>
    <li><a href="/user/login">
        <h6 class="text-white fw-light">Login</h6>
      </a></li>
    <li>
      <a href="#">
        <h6 class="text-white fw-light">Accessibility and settings</h6>
      </a>
    </li>
    <li>
      <a href="#">
        <h6 class="text-white fw-light">Contact us</h6>
      </a>
    </li>
  </ul>
</footer>