<p class="mb-3">
  <svg width="18" height="24" viewBox="0 0 18 24">
    <path fill="green"
      d="M9.651 23.759C9.464 23.919 9.232 24 9 24C8.768 24 8.536 23.919 8.349 23.759C8.008 23.466 0 16.504 0 9.043C0 4.057 4.037 0 9 0C13.963 0 18 4.057 18 9.043C18 16.504 9.992 23.466 9.651 23.759ZM9 2C5.141 2 2 5.16 2 9.043C2 14.445 7.148 19.866 8.999 21.64C10.85 19.864 16 14.435 16 9.043C16 5.16 12.859 2 9 2ZM9 13.074C6.794 13.074 5 11.28 5 9.074C5 6.869 6.794 5.074 9 5.074C11.206 5.074 13 6.869 13 9.074C13 11.28 11.206 13.074 9 13.074ZM9 7.074C7.898 7.074 7 7.971 7 9.074C7 10.177 7.898 11.074 9 11.074C10.103 11.074 11 10.177 11 9.074C11 7.971 10.103 7.074 9 7.074Z">
    </path>
  </svg>
  22 Member States
</p>
<div class="d-flex flex-wrap">
  <img src="/img/flags/AFG.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/BGD.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/DJI.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/IND.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/KEN.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/KHM.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/COM.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/LAO.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/LKA.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/MDG.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/MMR.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/MNG.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/MDV.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/MOZ.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/NPL.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/PNG.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/PHL.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/SYC.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/SOM.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/TLS.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/TON.png" class="p-1 mflag" />&nbsp;
  <img src="/img/flags/YEM.png" class="p-1 mflag" />&nbsp;
</div>
<p class="mt-3 mb-3">
  <svg width="18" height="24" viewBox="0 0 18 24">
    <path fill="#3f72b0"
      d="M9.651 23.759C9.464 23.919 9.232 24 9 24C8.768 24 8.536 23.919 8.349 23.759C8.008 23.466 0 16.504 0 9.043C0 4.057 4.037 0 9 0C13.963 0 18 4.057 18 9.043C18 16.504 9.992 23.466 9.651 23.759ZM9 2C5.141 2 2 5.16 2 9.043C2 14.445 7.148 19.866 8.999 21.64C10.85 19.864 16 14.435 16 9.043C16 5.16 12.859 2 9 2ZM9 13.074C6.794 13.074 5 11.28 5 9.074C5 6.869 6.794 5.074 9 5.074C11.206 5.074 13 6.869 13 9.074C13 11.28 11.206 13.074 9 13.074ZM9 7.074C7.898 7.074 7 7.971 7 9.074C7 10.177 7.898 11.074 9 11.074C10.103 11.074 11 10.177 11 9.074C11 7.971 10.103 7.074 9 7.074Z">
    </path>
  </svg>
  26 Collaborating Countries
</p>
<div class="d-flex flex-wrap">
  <img src="img/flags/ARM.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/BTN.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/COK.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/CHN.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/ERI.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/FJI.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/FSM.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/IDN.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/KGZ.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/KAZ.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/MHL.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/MUS.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/MWI.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/PAK.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/RUS.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/SLB.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/SDN.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/THA.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/TJK.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/TUV.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/TZA.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/UZB.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/VNM.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/VUT.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/WSM.png" class="p-1 mflag" /> &nbsp;
  <img src="img/flags/ZMB.png" class="p-1 mflag" /> &nbsp;
</div>
<p class="mb-3">&nbsp;</p>
