<!-- @NOTE: Move to themes/custom/tbdthmeme/templates/layout/page.html.twig -->
<nav class="navbar navbar-sticky center-nav navbar-expand-lg bg-nav-bg flex-column shadow-lg">
  <div class="container">
    <div class="row">
      <a href="/" class="d-none d-lg-block p-0 m-0 me-7 d-flex align-items-center" style="width: 97px;">
        <img src="img/icons/spot-logo-full.svg" class="svg-inject" alt="" />
      </a>
      <a href="/"
        class="home-nav text-white fw-normal px-2 m-0 border border-top-0 border-bottom-0 d-flex justify-content-center align-items-center"
        style="width: 147px; height: 40px;">
        <img src="img/icons/push.svg" class="svg-inject icon-svg icon-svg-md" alt="" style="width: 27px;" />
        <h5 class="fw-light text-light m-0 ps-2">Simulate</h5>
      </a>
      <a href="/"
        class="home-nav text-white fw-normal px-2 m-0 border-end d-flex justify-content-center align-items-center"
        style="width: 147px; height: 40px;">
        <img src="img/icons/browser-4.svg" class="svg-inject icon-svg icon-svg-md" alt="" style="width: 27px;" />
        <h5 class="fw-light text-light m-0 ps-2">Learn</h5>
      </a>
      <a href="/"
        class="home-nav text-white fw-normal px-2 m-0 border-end d-flex justify-content-center align-items-center"
        style="width: 147px; height: 40px;">
        <img src="img/icons/dash.svg" class="svg-inject icon-svg icon-svg-md" alt="" style="width: 27px;" />
        <h5 class="fw-light text-light m-0 ps-2">Research</h5>
      </a>
    </div>
  </div>
</nav>