.testimonial {
  background-color: #49713C;
  color: #fff;

  .testimonial-text {
    font-weight: 700;
    font-size: 16px;

  }

  .testimonial-author {
    font-weight: 700;
    font-size: 12px;
  }

  .testimonial-position {
    font-weight: 400;
    font-size: 10px;
  }

  .testimonial-metadata {
    font-weight: 500;
    font-size: 14px;

  }
  .testimonial-logo {
    width: 100px;
  }
  .testimonial-quote {
    height: 25px;
  }
}