// Use this to overwrite or extend theme colors

// Example of a variable override to change the primary color.
// Remove the "//" to uncomment it and see it in action.
// $primary: #36a6cf;
$primary: $projectPrimary;

// SPP Colors
$elearning: #FF3A21;
$simulation-tool: #66CC33;
$policy-primer: #96102C;
$action-plan: #EA5329;
$about: #96172E;
$elearning-hover: #DC1900;
$simulation-tool-hover: #449945;
$policy-primer-hover: #720015;

$red1: #DC1900;

$dark-blue: #222B45;
$mid-blue: #475A91;
$light-blue-grey1: #EEF0F6;
$light-blue-grey2: #DFE2EB;
$light-blue-grey3: #B8BCC9;
$blue-grey4: #737A91;
$link-blue: #0060C2;
$read-more-blue: #009EDB;

$blue-tag-text: #6D89DE;
$blue-tag-bg: #E6F7FF;
$blue-tag-border: #91D5FF;
$green-tag-text: #52C41A;
$green-tag-bg: #F6FFED;
$orange-tag-text: #FA8C16;
$orange-tag-bg: #FFF7E6;
$nav-bg: #484D5E;

$simulator-tool-text: #449945;

$grey-additional: #696969;
$main-body-text: #2E2E2E;
$footer-bg: #030C3A;

$link-text: #1D93DE;

$default-border: #D9D9D9;
$selected-border: #096DD9;

$orange-btn: #FF9900;
$footer-title: #c5cee0;
